@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction:column;
    margin:0;
    padding: 0;
}

.part-1{
   background: #1f2937;
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-bottom: 72px;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 70%;
    margin-bottom: 75px;
}

.under-header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 70%
}

ul{
    display:flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a,li{
    text-decoration: none;
    list-style-type:none;
    color: #e5e7eb;
    font-size: 18px;
}

.left-links{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.left-content{
    width: 400px;
    display:flex;
    flex-direction: column;
}

.left-header{
    color:#f9faf8;
    font-size: 48px;
}

.left-sub{
    color:#e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.button button{
    background:#3882f6;
    color:#f9faf8;
    padding: 5px 15px;
    border-radius: 10px;
    border:none;
    font-size: 18px;
}

img {
    width: 500px;
    height: 300px;
}

.header2{
    color: #1f2937;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}

.part-2{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items:center
}

.boxesdiv{
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

.box{
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.boxh{
 display: flex;
 flex-direction: column;
 max-width: 150px;
 text-align: center;
 gap: 10px;
 color: darkslategrey;
 margin-bottom: 100px;
}

.part-3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.quote{
    
    color: #1f2937;
    font-size: 36px;
    width: 850px;
    font-style:italic;
    display:flex;
    flex-direction:column;
}

.from{
    align-self: flex-end;
    font-weight:900;
    margin-right: 50px;
}

.part-4{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;   
}

.cta{
    height: 150px;
    width: 950px;
    background-color:#3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    color: #f9faf8;
}

.ctat{
    display: flex;
    font-weight: 900;
    flex-direction: column;
    font-size: 24px;

}
.button2 button{
    background:#3882f6;
    color:#f9faf8;
    padding: 4px 30px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    font-weight: 700;
}

.ctaut{
    font-weight:100;
    font-size: 16px;
}